<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
<connectionStrings><add name="NyamNyamLiana320Entities" connectionString="metadata=res://*/DBconnection.ModelNyamNyam.csdl|res://*/DBconnection.ModelNyamNyam.ssdl|res://*/DBconnection.ModelNyamNyam.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa\serv1215;initial catalog=NyamNyamLiana320;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>