<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="NyamNyam_Session_LianaEntities" connectionString="metadata=res://*/DBconnection.NyamNyamModel.csdl|res://*/DBconnection.NyamNyamModel.ssdl|res://*/DBconnection.NyamNyamModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa\serv1215;initial catalog=NyamNyam_Session_Liana;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>